<div class="sidebar-module about">
	<!--	<h4>{{ site.locales[site.default_locale].Aboutme }}</h4>  -->
  <!-- <img class="site-logo" title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
   <span>{{site.aboutme}}</span> -->
  <br />

  {% if site.ShowContactInfo == "True" %}



  <div class="footer-col footer-col-2">
    <ul class="social-media-list">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
      {% if site.email %}
      <li>
          <a href="mailto:{{site.email}}" title="mailto: {{site.email}}">Email Me /</a>
      </li>
      {% endif %}


    </ul>
  </div>




  {% endif %}

</div>
